<!-- <a  (click)="openStaffPage()" class="cursor-pointer">
  Staff
</a> -->




<nz-steps [nzCurrent]="currentSteps()">

  <!-- Step 1 -->
  <nz-step
    nzTitle="Employee"
    nzSubtitle="Step 1"
    nzDescription="Enter employee information."
  />

  <!-- Step 2 -->
  <nz-step
    nzTitle="Employment"
    nzSubtitle="Step 2"
    nzDescription="Enter employment details."
  />

  <!-- Step 3 -->
  <nz-step
    nzTitle="Documents"
    nzSubtitle="Step 3"
    nzDescription="Upload required documents."
  />

  <!-- Step 4 -->
  <nz-step
    nzTitle="Finished"
    nzSubtitle="Complete"
    nzDescription="Employee setup completed."
  />

</nz-steps>

<div class="mt-8">

  @switch (currentSteps()) {

    @case (0) {
      <div>
        <h2>Employee Information</h2>

        <p>
          Enter the employee's basic information.
        </p>

        <!-- Your employee form goes here -->

      </div>
    }

    @case (1) {
      <div>
        <h2>Employment Details</h2>

        <p>
          Enter the employee's employment information.
        </p>

        <!-- Your employment form goes here -->

      </div>
    }

    @case (2) {
      <div>
        <h2>Documents</h2>

        <p>
          Upload the employee's required documents.
        </p>

        <!-- Your document upload goes here -->

      </div>
    }

    @case (3) {
      <div>
        <h2>Finished</h2>

        <p>
          The employee setup has been completed successfully.
        </p>

      </div>
    }

  }

</div>

<!-- jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj -->

<div class="mt-8 flex gap-3">

  <button
    nz-button
    [disabled]="currentSteps() === 0"
    (click)="previous()"
  >
    Previous
  </button>

  @if (currentSteps() < 3) {

    <button 
    (click)="next()"
    nz-button 
    nzType="primary"  
    >
      Next
    </button>

  }

  @if (currentSteps() === 3) {

    <button
      nz-button
      nzType="primary"
    >
      Submit
    </button>

  }

</div>




hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh

<!-- llllllllllllllllllllllllllllllllllllllllllllllllllllllll -->
<div class="progress-item mt-20">
  <div class="progress-header">
    <span>Project Completion</span>
    <span>75%</span>
  </div>


  <nz-progress [nzPercent]="70"></nz-progress>



  <nz-progress [nzPercent]="30" />
    <nz-progress [nzPercent]="50" nzStatus="active" />
    <nz-progress [nzPercent]="70" nzStatus="exception" />
    <nz-progress [nzPercent]="100" />
    <nz-progress [nzPercent]="50" [nzShowInfo]="false" />
  

  <!-- <nz-progress
    [nzPercent]="75"
    [nzShowInfo]="false"
    nzStrokeWidth="10">
  </nz-progress>
</div> -->
























<!-- //////////////////////////////////////////////////////// -->


<!-- Managers dashboard -->
<!-- @if(role){ -->
<!-- <div class="text-[#171717]">

  MAIN
  <main class="mx-2 md:mx-20 pt-14 ">

    Page Header
    <div class="md:flex items-center md:justify-between mb-7">
      <div>
        <h1
          class="text-[25px] font-bold tracking-tight">
          Overview
        </h1>

        <p class="mt-2 text-sm text-gray-500">
          Goals, performance and employee development
        </p>

      </div>


      My Activities
       <div class="flex gap-5">
        <button class="text-sm px-6 bg-blue-400 text-white rounded-lg">
          New cycle
        </button>

      <button
        class="flex items-center gap-2 px-6 mt-4 md:mt-0 md:py-2 border border-gray-300 rounded-lg text-sm text-gray-700 shadow-lg hover:bg-gray-50 transition">
        Reports
      </button>
      </div>
    </div>

      <section
        class="bg-white border border-gray-300 rounded-xl overflow-hidden shadow-lg">

        Card Header
        <div class="h-[67px] px-7 flex items-center justify-between">

          Active
          <span class="inline-flex items-center gap-2 px-3 py-1 rounded-full bg-green-100 text-green-600 text-[11px] font-semibold">
            <span
              class="w-1.5 h-1.5 rounded-full bg-green-500">
            </span>
            Active
          </span>

          Targets
          <button class="flex items-center gap-2 px-6 py-2 py-0.5 rounded-lg bg-[#579feb] text-white text-sm font-semibold shadow-sm hover:bg-[#468fdc] transition">
            Manage cycle
          </button>
        </div>


        CYCLE

        <div class="px-7 pt-2 pb-5">

          <h2 class="text-lg font-semibold">
            ELEVATE – Q3 (July – September 2026)
          </h2>

          <p class="mt-1.5 text-[13px] text-gray-600">
            Goal setting is open. Add measurable targets for your KPIs
            before the agreed deadline
          </p>

        </div>


        PROGRESS
        <div class="min-h- [68px] border-t border-b border-gray-200 px-11 py-2 flex items-center gap-3 overflow-auto">

          Targets
          <div
            class="flex items-center gap-2 whitespace-nowrap text-sm text-gray-900">
            <span
              class="w-5 h-5 rounded-full bg-[#3f91df] text-white flex items-center justify-center text-[10px]">
              ✓
            </span>
            Targets
          </div>

          Line
          <div
            class="h-px bg-gray-200 flex-1 min-w-[45px]">
          </div>

          Self Review
          <div
            class="flex items-center gap-2 whitespace-nowrap text-sm text-gray-400">
            <span
              class="w-5 h-5 rounded-full border border-gray-200 flex items-center justify-center text-[10px]">
              2
            </span>
            Self-Review
          </div>


          Line
          <div class="h-px bg-gray-200 flex-1 min-w-[45px]" >

          </div>

          Manager Review
          <div
            class="flex items-center gap-2 whitespace-nowrap text-sm text-gray-400">
            <span
              class="w-5 h-5 rounded-full border border-gray-200 flex items-center justify-center text-[10px]">
              3
            </span>
            Manager Review
          </div>


          Line
          <div
            class="h-px bg-gray-200 flex-1 min-w-[45px]">
          </div>


          Completed

          <div
            class="flex items-center gap-2 whitespace-nowrap text-sm text-gray-400">
            <span
              class="w-5 h-5 rounded-full border border-gray-200 flex items-center justify-center text-[10px]">
              4
            </span>
            Completed
          </div>
        </div>

        DATE WINDOWS

        <div
          class="md:flex items-center gap-6 px-7 py-6">

          Target Setting

          <div
            class="flex-1 h-[78px] bg-[#faf9f6] border border-[#e7e4df] rounded-lg px-5 flex items-center gap-3">

            <span
              class="text-xl text-gray-500"
            >
              ▣
            </span>


            <div class="flex flex-col gap-1.5">

              <span
                class="text-[10px] font-semibold tracking-wide text-gray-500">
                TARGET SETTING WINDOW
              </span>

              <span
                class="text-[13px] font-semibold text-[#579fe5]"
              >
                22 Jul – 30 Jul 2026
              </span>

            </div>

          </div>



          Divider

          <div
            class="w-px h-[70px] bg-gray-200">
          </div>



          Performance Review

          <div
            class="flex-1 h-[78px] bg-[#faf9f6] border border-[#e7e4df] rounded-lg px-5 flex items-center gap-3">

            <span
              class="text-xl text-gray-500"
            >
              ▣
            </span>


            <div class="flex flex-col gap-1.5">

              <span
                class="text-[10px] font-semibold tracking-wide text-gray-500">
                PERFORMANCE REVIEW WINDOW
              </span>

              <span
                class="text-[13px] font-semibold text-gray-900">
                29 Sept – 7 Oct 2026
              </span>

            </div>

          </div>
        </div>
      </section>


      Cards
      <section>
        <main>
          <div class="flex justify-between mt-10 overflow-auto">
          <div class="border w-[275px] h-[126px] rounded-[16px] mb-[11px]">
            <div class="mx-8 mt-2">
              <p class="text-[16px]">DEPARTMENT</p>
              <P class="text-[#000000] text-[32px] font-semibold">10</P>
              <P class="text-[#6E6E6E] text-[15px]">All departmenrt in this cycle</P>
            </div>
          </div>
          <div class="border w-[275px] h-[126px] rounded-[16px] mb-[11px]">
            <div class="mx-8 mt-2">
              <p class="text-[16px]">EMPLOYEES</p>
              <P class="text-[#000000] text-[32px] font-semibold">120</P>
              <P class="text-[#6E6E6E] text-[15px]">All departmenrt in this cycle</P>
            </div>
          </div>
          <div class="border w-[275px] h-[126px] rounded-[16px] mb-[11px]">
            <div class="mx-8 mt-2">
              <p class="text-[16px]">REVIEW COMPLETION</p>
              <P class="text-[#000000] text-[32px] font-semibold">10 %</P>
              <P class="text-[#6E6E6E] text-[15px]">Number of review completion</P>
            </div>
          </div>
          <div class="border w-[275px] h-[126px] rounded-[16px] mb-[11px]">
            <div class="mx-8 mt-2">
              <p class="text-[16px]">EMPLOYEES</p>
              <P class="text-[#000000] text-[32px] font-semibold">120</P>
              <P class="text-[#6E6E6E] text-[15px]">Total number of employees</P>
            </div>
          </div>
        </div>

        </main>
      </section>

      Department progress
     <section>
        <main>
          <div class="main mt-10">

            <p class="text-[20px] text-[#807777]">DETARTMENT PROGRESS</p>
            table
            <div>
              <div class="flex items-center justify-between mt-2 border rounded-tl-[16px] rounded-tr-[16px]">
                <div class="flex gap-2 mx-10 py-1">
                  <p class="bg-[#B588E4] rounded-full w-[55px] h-[55px]"></p>
                  <div>
                  <p class="text-[#000000]">Technology</p>
                  <p>Sally Smith . 24 team members</p>
                  </div>
                </div>
                <div>
                  <p class="text-[#6E6E6E]">16/24 reviewed</p>
                </div>
                <button class="flex gap-2 text-[#000000] mx-10 cursor-pointer text-blue-500 hover:text-blue-700">
                  <p>View</p>
                  <svg xmlns="http://www.w3.org/2000/svg" 
                  width="20" 
                  height="26" 
                  viewBox="0 0 24 24" 
                  fill="none" 
                  stroke="currentColor" 
                  stroke-width="2" 
                  stroke-linecap="round" 
                  stroke-linejoin="round" 
                  class="lucide lucide-move-right-icon lucide-move-right ">
                  <path d="M18 8L22 12L18 16"/>
                  <path d="M2 12H22"/>
                </svg>
              </button>
              </div>
              
              <div class="flex items-center justify-between border">
                 <div class="flex gap-2 mx-10 py-1">
                  <p class="bg-[#B588E4] rounded-full w-[55px] h-[55px]"></p>
                  <div>
                  <p class="text-[#000000]">Technology</p>
                  <p>Sally Smith . 24 team members</p>
                  </div>
                </div>
                <div>
                  <p class="text-[#6E6E6E]">16/24 reviewed</p>
                </div>
                <button class="flex gap-2 text-[#000000] mx-10 cursor-pointer text-blue-500 hover:text-blue-700">
                  <p>View</p>
                  <svg xmlns="http://www.w3.org/2000/svg" 
                  width="20" 
                  height="26" 
                  viewBox="0 0 24 24" 
                  fill="none" 
                  stroke="currentColor" 
                  stroke-width="2" 
                  stroke-linecap="round" 
                  stroke-linejoin="round" 
                  class="lucide lucide-move-right-icon lucide-move-right ">
                  <path d="M18 8L22 12L18 16"/>
                  <path d="M2 12H22"/>
                </svg>
              </button>
              </div>
              
            </div>

          </div>
        </main>
      </section>




      Mangers
      <section>
        <main>
          <div class="main mt-10">

            <p class="text-[20px] text-[#807777]">Managers</p>
            table
            <div>
              <div class="flex items-center justify-between mt-2 border rounded-tl-[16px] rounded-tr-[16px]">
                <div class="flex gap-2 mx-10 py-1">
                  <p class="bg-[#B588E4] rounded-full w-[55px] h-[55px]"></p>
                  <div>
                  <p class="text-[#000000]">Technology</p>
                  <p>Sally Smith . 24 team members</p>
                  </div>
                </div>
                <div>
                  <p class="text-[#6E6E6E]">16/24 reviewed</p>
                </div>
                <button class="flex gap-2 text-[#000000] mx-10 cursor-pointer text-blue-500 hover:text-blue-700">
                  <p>View</p>
                  <svg xmlns="http://www.w3.org/2000/svg" 
                  width="20" 
                  height="26" 
                  viewBox="0 0 24 24" 
                  fill="none" 
                  stroke="currentColor" 
                  stroke-width="2" 
                  stroke-linecap="round" 
                  stroke-linejoin="round" 
                  class="lucide lucide-move-right-icon lucide-move-right ">
                  <path d="M18 8L22 12L18 16"/>
                  <path d="M2 12H22"/>
                </svg>
              </button>
              </div>
              
              <div class="flex items-center justify-between border">
                 <div class="flex gap-2 mx-10 py-1">
                  <p class="bg-[#B588E4] rounded-full w-[55px] h-[55px]"></p>
                  <div>
                  <p class="text-[#000000]">Technology</p>
                  <p>Sally Smith . 24 team members</p>
                  </div>
                  
                </div>

                <div>
                  <p class="text-[#6E6E6E]">16/24 reviewed</p>
                </div>
                <button class="flex gap-2 text-[#000000] mx-10 cursor-pointer text-blue-500 hover:text-blue-700">
                  <p>View</p>
                  <svg xmlns="http://www.w3.org/2000/svg" 
                  width="20" 
                  height="26" 
                  viewBox="0 0 24 24" 
                  fill="none" 
                  stroke="currentColor" 
                  stroke-width="2" 
                  stroke-linecap="round" 
                  stroke-linejoin="round" 
                  class="lucide lucide-move-right-icon lucide-move-right ">
                  <path d="M18 8L22 12L18 16"/>
                  <path d="M2 12H22"/>
                </svg>
              </button>
              </div>
              
            </div>

          </div>
        </main>
      </section>

    
  </main>
</div>
}
 -->
